#about_me_section {
    padding: 100px 50px;
    background-color:var(--seondary-color);
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap-reverse;
}
.about_me_container img {
    width:750px;
    max-width:90%;
}
#about_me_section img {
    width: 400px;
    border: 15px solid var(--text-color);
    max-width:calc(90% - 30px);
}
.about_me_container h2 {
    font-size:80px;
}
.about_me_container p {
    text-align: justify;
    line-height:175%;
}
@media (max-width: 768px) {
    #about_me_section {
        padding:50px 20px;
    }
    #about_me_section h2 {
        text-align: center;
        font-size: 12vw;
    }

}