@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {    
  --main-brand-color: #297ae3;
  --primary-color: #15171c;
  --secondary-color: #232933;
  --light-secondary-color: #2e3744;
  --text-color: white;
  --secondary-text-color: #b3b4b6;
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  min-height: 100vh;
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font: size 20px;
  color: var(--text-color);
}
h1 {
  font-size: 100px;
  line-height: 100%;
}
h3 {
    font-size: 30px;
}
.subheading {
    margin: top 25px;
    color: var(--secondary-text-color);
}
@media (max-width: 768px) {
    h1 {
        font-size:12vw;
        text-align: center;
    }
    .subheading {
        text-align: center;
    }
    body {
        font-size: 16px;
    }
}
